:root {
  --black: #272727;
  --gray: #E0E0E0;
  --text: #4F4F4F;
}

html {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 900;
  font-size: 10px;
  color: var(--black);
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.07);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  margin: 0;
  letter-spacing: -1px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 5px 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
}

.container {
  display: grid;
  /* change nav width if you change width here */
  grid-template-columns: auto 30%;
  grid-template-areas: 
    'main nav'
}

.main {
  grid-area: main;
}

/* NAV */
.nav {
  position: fixed;
  z-index: 1;
  right: 0;
  /* change container column width if you change width here */
  width: 30%; 

  box-shadow:0 5px 0 rgba(0,0,0,0.1);


  background: var(--gray);
  grid-area: nav;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav li, .welcome__contact li {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav li {
  border-bottom: 1px solid var(--text);
  height: 80px;
}

.nav li:last-child {
  border-bottom: none;
}

.nav a, .welcome__contact a{
  font-style: normal;
  font-weight: normal;
  color: var(--text);
}

.nav a {
  font-size: 4rem;
  /* font-weight: 500; */
}

a.bold {
  /* background: yellow; */
  font-weight: 600;
}

/* WELCOME */
.welcome {
  height: 100vh;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
}

.welcome__title {
  grid-row: 2 / span 1;
  text-align: center;
}

.welcome__contact {
  grid-row: 3 / span 1;
}

.welcome__title h1 {
  font-size: 5.5rem;
}

.welcome__title h2 {
  font-size: 3rem;
}

.welcome__contact ul {
  display: flex;
  justify-content: center;
}

.welcome__contact li {
  border-right: 1px solid var(--text);
  height: 60px;
}

.welcome__contact li:last-child {
  border-right: none;
}

.welcome__contact a {
  font-size: 3rem;
  margin: 30px;
}

/* PROJECTS */
.projects {
  height: 300vh;
}





/* ABOUT */
.about {
  height: 100vh;
}






/* MEDIA */
@media (max-width: 900px){
  .container {
    /* change nav width if you change width here */
    grid-template-columns: auto 25%;
  }

  .nav {
    /* change container column width if you change width here */
    width: 25%; 
  }

  .nav a {
    font-size: 2.7rem;
  }
}

@media (max-width: 678px){
  .container {
    /* change nav width if you change width here */
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
      'nav'  
      'main'
  }

  .nav {
    position: relative;
    right: unset;
    /* change container column width if you change width here */
    width: 100%; 
  
  
    /* height: 100vh; */

    display: flex;
    justify-content: center;
    align-items: center;
  }
}