/* MAIN */
:root {
    /* --text: #4F4F4F;
    --background: #FFD29F;
    --card: #FFCDA1;
    --primary: rgb(57, 139, 193); */

  --text: #CCCCCC;
  --background: #242424;
  --card: #313131;
  --primary: rgb(57, 139, 193);
  --btn-hover: rgb(39, 112, 160);
}

html {
  box-sizing: border-box;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
  font-weight: 900;
  font-size: 10px;
  background: var(--background);
  color: var(--text);
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.07);
  transition: all 0.5s;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  margin: 0;
  letter-spacing: -1px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 5px 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
}

.container {
  display: grid;
  /* change nav width if you change width here */
  grid-template-columns: auto 30%;
  grid-template-areas:
    'main nav'
}

main {
  grid-area: main;
}

.card {
  box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
}

/* NAV */
nav {
  position: fixed;
  z-index: 1;
  right: 0;
  /* change container column width if you change width here */
  width: 30%;
  box-shadow:0 5px 0 rgba(0,0,0,0.2);
  grid-area: nav;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav li, .welcome__contact li {
  display: flex;
  align-items: center;
  justify-content: center;
}

nav li {
  transition: all 0.3s;
  border-bottom: 1px solid var(--text);
  height: 90px;
  visibility: visible;
  opacity: 1;
}

nav li:last-child {
  border-bottom: none;
}

nav a, .welcome__contact a{
  font-style: normal;
  font-weight: normal;
  color: var(--text);
}

nav a {
  font-size: 4rem;
  cursor: pointer;
}

nav a:hover {
  font-weight: 500;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

a.nav__menu-item--name {
  font-weight: 600 !important;
}

a.nav__menu-item--resume, a.welcome__contact-item--resume {
  color: var(--primary);
}

/* WELCOME */
.welcome {
  height: 100vh;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
}

.welcome__title {
  grid-row: 2 / span 1;
  text-align: center;
  align-self: end;
}

.welcome__contact {
  grid-row: 3 / span 1;
  justify-self: center;
}

.welcome__title h1 {
  font-size: 5.5rem;
}

.welcome__title h2 {
  font-size: 3rem;
  font-weight: 400;
}

.welcome__contact ul {
  display: flex;
  justify-content: center;
}

.welcome__contact li {
  border-left: 1px solid var(--text);
  height: 60px;
}

.welcome__contact li:first-child {
  border-left: none;
}

.welcome__contact li:last-child {
  display: none;
}

.welcome__contact a {
  font-size: 3rem;
  margin: 30px;
}

.welcome__contact a:hover {
  color: var(--primary);
  text-decoration: underline;
}

/* PROJECTS */
.project__card {
  display: grid;
  background: var(--card);
  margin: 40px 0 80px 5%;
}

.project__card > * {
  margin: 40px;
}

.project__card > img {
  margin: 30px;
  width: calc(100% - 60px);
  max-height: 600px;
  background-size: cover;
}

.project__info {
  display: grid;
  grid-gap: 40px;
  grid-template-columns: 5fr 3fr;
  margin-top: 0;
}

.project__description h3 {
  font-size: 5rem;
}

.project__description p {
  font-size: 1.8rem;
  font-weight: normal;
  margin-bottom: 0;
}

.project__sidebar {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
}

.project__links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.project__links a {
  margin: 5px;
  padding: 5px;
  font-size: 2.8rem;
  font-weight: 600;
  background: var(--primary);
  color: white;
  border-radius: 4px;
}

.project__links a:hover {
  background: var(--btn-hover);
}

.project__tech {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.project__tech img {
  width: 64px;
}

.img--mongodb {
  padding: 6px; /* needed to fix sizing */
}

.img--postgres, .img--sequelize {
  padding: 7px; /* needed to fix sizing */
}

/* ABOUT */
.about {
  height: 95vh;
}

.about__card {
  display: grid;
  padding: 50px;
  grid-gap: 10px;
  grid-template-rows: auto auto auto 1fr;
  margin-top: 120px;
  width: 100%;
  min-height: 95vh;
  background-color: var(--card);
  text-align: center;
}

.about__card > * {
  margin: 2rem;
  margin: 0
}

.about__title h1 {
  font-size: 5rem;
  font-weight: 600;
}

.about__title h2 {
  font-size: 3.8rem;
  font-weight: 400;
}

.about__description p {
  font-size: 1.8rem;
  font-weight: 600;
}

.about__description a {
  color: var(--primary);
}

.about__description a:hover {
  text-decoration: underline;
}

.about__skills {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  height: 400px;
}

.about__skills li {
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 0.3rem;
}

.about__skills li:first-child {
  color: var(--primary);
  font-size: 2rem;
  font-weight: 700;
  text-decoration: underline;
  margin-bottom: 0.5rem;
}


/* MEDIA */
@media (max-width: 1080px){
  nav a {
    font-size: 2.7rem;
  }
}

@media (max-width: 820px){
  .project__info {
    grid-gap: 20px;
    grid-template-columns: auto;
    grid-template-rows: auto 1fr;
  }

  .project__links {
    justify-content: flex-start;
  }
}

@media (max-width: 678px){
  .container {
    /* change nav width if you change width here */
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
      'nav'
      'main'
  }

  nav {
    display: none;
  }

  .welcome {
    height: 100vh;
  }

  .welcome__contact ul {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
  }

  .welcome__contact li:nth-child(1) {
    border-right: 1px solid var(--text);
    border-bottom: 1px solid var(--text);
  }

  .welcome__contact li:nth-child(2) {
    border-bottom: 1px solid var(--text);
    border-left: 1px solid var(--text);
  }

  .welcome__contact li:nth-child(3) {
    border-left: none;
    border-top: 1px solid var(--text);
    border-right: 1px solid var(--text);
  }

  .welcome__contact li:nth-child(4) {
    display: flex;
    border-top: 1px solid var(--text);
    border-left: 1px solid var(--text);
  }

  /* PROJECTS */
  .project__card {
    margin-right: 5%;
  }

  .project__card > * {
    margin: 25px;
  }

  .project__card > img {
    margin: 20px 20px 0 20px;
    width: calc(100% - 40px);
  }

  .project__description h3 {
    font-size: 3.4rem;
  }

  /* ABOUT */
  .about__card {
    padding: 20px;
  }

  .about__title h1 {
    font-size: 4rem;
    font-weight: 600;
  }

  .about__title h2 {
    font-size: 2.8rem;
    font-weight: 400;
  }

  .about__skills {
    height: max-content;
  }
}